.App {
    text-align: center;
    color:#541e1b;
    font-family:'Netflix font';
  }
  
#posterContainer{
  margin:100px;
}
#searchButton{
  margin:10px;
}
.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image-container {
    width: 20%;
    margin: 1%;
    display:inline-block;
}

.image-container img {
    height: auto;
    display: block;
}
#curPoster{
  border:1px solid black;
}
.expand{
  width:100vw;
}
.center{
  display:flex;
  align-items:center;
  justify-content: center;
}