{%extends 'base.html'%}
{%block content%}
<style>
  body{
    background:linear-gradient(109.6deg,rgb(36,45,57) 11.2%,rgb(16,37,60) 51.2%,rgb(0,0,0) 98.6%);
  }
</style>
<div style="background:linear-gradient(109.6deg,rgb(36,45,57) 11.2%,rgb(16,37,60) 51.2%,rgb(0,0,0) 98.6%); height:100vh;">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossOrigin="anonymous"/>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width:100vw">
      <div class="mx-auto" style="text-align:center;justify-content: left;display:flex;position:relative">
        <h1 class="navbar-brand" style="font-size:2rem;">Movies.io</h1>
      </div>
      <a class="nav-link" href="http://localhost:5000/home/{{session.user}}" style="color:#ffc107">Home</a>
      <a href="http://localhost:5000/{{session.user}}//liked-movies" class="nav-link">Your Liked Movies</a>
      <a href="http://localhost:5000/explore" class="nav-link">Explore</a>
      <a href="http://localhost:5000/poster/search" class="nav-link">Movie Posters</a>
      <a class="nav-link" href="http://localhost:5000/search">Find Similar Movies to ___</a>
      {%if session.user%}
        <a class="nav-link" href="http://localhost:5000/logout">Logout</a>
        <a class="nav-link" style="color:white">{{session.user}}</a>
      {%endif%}
    </nav>
    <div style="text-align:center;margin-bottom:50px">
      <h2 style="color:white">Explore</h2>
    </div>
    <div style="display:flex;align-items:center;justify-content:center">
      <select id="year">
        <option value="">Year</option>
        <option value="2010-2020">2010-2020</option>
        <option value="2000-2010">2000-2010</option>
        <option value="1990-2000">1990-2000</option>
        <option value="1980-1990">1980-1990</option>
        <option value="1970-1980">1970-1980</option>
        <option value="1960-1970">1960-1970</option>
        <option value="1950-1960">1950-1960</option>
        <option value="1920-1950">1920-1950</option>
      </select>
    </div>
    {%for genre in genres%}
        <form class='bubble' id=genre-form{{loop.index}}>
          <button class="b" id="g{{loop.index}}" style=></button>
            <span>{{genre}}</span>
            <input type="hidden" name="genre" value="{{genre}}">
        </form>   
      {%endfor%}
      <br>
      <div id="poster-container"></div>
    </div>
</div>
{%endblock%}