{%extends 'base.html'%}
{%block title%}Movie Recommender{%endblock%}
{%block content%}
<div style="height:100vh;background:linear-gradient(109.6deg,rgb(36,45,57) 11.2%,rgb(16,37,60) 51.2%,rgb(0,0,0) 98.6%);">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossOrigin="anonymous"/>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width:100vw">
      <div class="mx-auto" style="text-align:center;justify-content: left;display:flex;position:relative">
        <h1 class="navbar-brand" style="font-size:2rem;">Movies.io</h1>
      </div>
      <a class="nav-link" href="http://localhost:5000/home/{{session.user}}" style="color:#ffc107">Home</a>
      <a href="" class="nav-link">Your Liked Movies</a>
      <a href="http://localhost:5000/explore" class="nav-link">Explore</a>
      <a href="http://localhost:5000/poster/search" class="nav-link">Movie Posters</a>
      <a class="nav-link" href="http://localhost:5000/search">Find Similar Movies to ___</a>
      {%if session.user%}
        <a class="nav-link" href="http://localhost:5000/logout">Logout</a>
        <a class="nav-link" style="color:white">{{session.user}}</a>
      {%endif%}
    </nav>
    <h5 style="padding-top:50px;align-items:center;display:flex;justify-content:center;color:red">Movie Poster Search</h5>
    <form method="POST" action="http://localhost:5000/poster/query" class="center">
      <input type="text" id="movieInput" name="movie" placeholder="Enter a movie title"></input>
      <button type="submit" id="searchButton" class="btn btn-primary">Search</button>
    </form>
    <div id="posterContainer">
      <img id="curPoster" src={{movie}}></img>
    </div>
</div>
{%endblock%}