{%extends 'base.html'%}
{%block title%}Movie Recommender{%endblock%}
{%block content%}
<div class="App">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" />
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossOrigin="anonymous"/>
    <nav style="width: 100vw;" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="mx-auto d-flex">
            <h1 class="navbar-brand" style="font-size: 2rem; margin: 0 auto;text-align:center">Movies.io</h1>
        </div>
        {% if session.user%}
            <a href="http://localhost:5000/home/{{session.user}}">Home</a>
            <a style="color:white;margin:10px">{{session.user}}</a>
        {%else%}
            <a href="http://localhost:5000/home/na" style="margin:0">Home</a>
        {%endif%}
    </nav>
    <a href="http://localhost:5000/search">Search Again</a>
    <br>
    <p>Search Results For: {{movie}}</p>
    <div id="search-container">
        <img style="margin-bottom:10px;"src="{{sources[0][0]}}"/>
        <form method="POST" action="http://localhost:5000/like-movie">
            <input type="hidden" name="movie" value="{{movie}}">
            <input type="submit" id="likeb" value="Like" style="background-color:#198754;border-radius: 4px; color:white">
        </form>
    </div>
    {% for source in sources%}
        {%if source[1].lower()!=movie.lower()%}
            <div class="image-container">
                <img src="{{source[0]}}">
                <p>{{source[1]}}</p>
                <form method="POST" action="http://localhost:5000/like-movie">
                    <input type="hidden" name="movie" value="{{source[1]}}">
                    <input type="submit" value="Like" style="background-color:#198754;border-radius: 4px; color:white">
                </form>
            </div>
        {%endif%}
    {%endfor%}
{%endblock%}
