{%extends 'base.html'%}
{%block title%}Movie Recommender{%endblock%}
{%block content%}
<div class="App" style="background:linear-gradient(109.6deg,rgb(36,45,57) 11.2%,rgb(16,37,60) 51.2%,rgb(0,0,0) 98.6%);">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" />
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossOrigin="anonymous"/>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width:100vw">
        <div class="mx-auto" style="text-align:center;justify-content: left;display:flex;position:relative">
          <h1 class="navbar-brand" style="font-size:2rem;">Movies.io</h1>
        </div>
        {% if session.user%}
            <a class="nav-link" href="http://localhost:5000/home/{{session.user}}" style="color:#ffc107">Home</a>
            <a href="http://localhost:5000/{{session.user}}//liked-movies" class="nav-link">Your Liked Movies</a>
        {%else%}
            <a class="nav-link" href="http://localhost:5000/home/na" style="color:#ffc107">Home</a>
        {%endif%}
        <a href="http://localhost:5000/explore" class="nav-link">Explore</a>
        <a href="http://localhost:5000/poster/search" class="nav-link">Movie Posters</a>
        <a class="nav-link" href="http://localhost:5000/search">Find Similar Movies to ___</a>
        {%if session.user%}
          <a class="nav-link" href="http://localhost:5000/logout">Logout</a>
          <a class="nav-link" style="color:white">{{session.user}}</a>
        {%endif%}
    </nav>
    <a href="http://localhost:5000/search">Search Again</a>
    <br>
    <p style="color:white">Search Results For: {{movie}}</p>
    <div id="search-container">
        <img style="margin-bottom:10px;"src="{{sources[0][0]}}"/>
        <form class="movie-form">
            <input type="hidden" name="movie" value="{{movie}}">
            <input type="button" id="like-button" value="Like" style="background-color:#198754;border-radius: 4px; color:white">
        </form>
    </div>
    {% for source in sources%}
        {%if source[1].lower()!=movie.lower()%}
            <div class="image-container">
                <img src="{{source[0]}}">
                <p style="color:white">{{source[1]}}</p>
                <form class="movie-form">
                    <input type="hidden" name="movie" value="{{source[1]}}">
                    <input type="button" id="like-button{{loop.index}}" value="Like" style="background-color:#198754;border-radius: 4px; color:white;">
                </form>
            </div>
        {%endif%}
    {%endfor%}
{%endblock%}
