{%extends 'base.html'%}
{%block content%}
<div style="background:linear-gradient(109.6deg,rgb(36,45,57) 11.2%,rgb(16,37,60) 51.2%,rgb(0,0,0) 98.6%);height:100vh">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossOrigin="anonymous"/>
<script src="{{url_for('static',filename='js/main.js')}}"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var movie_search=document.getElementById("movie_search")
    const datalist=document.getElementById("recommendations")
    movie_search.addEventListener("input",()=>{
      while(datalist.firstChild){
        datalist.removeChild(datalist.firstChild)
      }
      const term=movie_search.value;
      if(term){
        fetch(`http://localhost:5000/search-terms/${term}`).then(res=>res.json()).then(data=>{
          for(let r of data){
            var rec=document.createElement('option')
            rec.value=r
            datalist.appendChild(rec)
          }
        });
      }
    })
  })
</script>
<style>
  .c-form{
    display:flex;
    align-items:center;
    justify-content:center;
    padding-top:10vh;
  }
</style>
<div class="expand">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width:100vw">
    <div class="mx-auto" style="text-align:center;justify-content: left;display:flex;position:relative">
      <h1 class="navbar-brand" style="font-size:2rem;">Movies.io</h1>
    </div>
    <a class="nav-link" href="http://localhost:5000/home/{{session.user}}" style="color:#ffc107">Home</a>
    <a href="http://localhost:5000/{{session.user}}//liked-movies" class="nav-link">Your Liked Movies</a>
    <a href="http://localhost:5000/explore" class="nav-link">Explore</a>
    <a href="http://localhost:5000/poster/search" class="nav-link">Movie Posters</a>
    <a class="nav-link" href="http://localhost:5000/search">Find Similar Movies to ___</a>
    {%if session.user%}
      <a class="nav-link" href="http://localhost:5000/logout">Logout</a>
      <a class="nav-link" style="color:white">{{session.user}}</a>
    {%endif%}
  </nav>
</div>
<h5 style="color:white;padding-top:50px;align-items:center;display:flex;justify-content:center">Search For Similar Movies</h5>
{%if session.error%}
<h6 style="padding-top:50px;align-items:center;display:flex;justify-content:center;color:red">{{session.error}}</h6>
{%endif%}
<form class="c-form" method="POST" action="http://localhost:5000/search/recommendations">
    <input id="movie_search" type="text" name="movie" list="recommendations">
    <datalist id="recommendations"></datalist>
    <input type="submit" value="Recommend" class="btn btn-success" style="margin-left:20px">
</form>
</div>
{%endblock%}